// ===
// Common: Match typography size
// ===
html {
    font-size: 16px;
}

// ===
// Common: Removes the default margin from body
// ===
body {
    margin: 0;
}

// ===
// Common: Sets in common the way of rendering the text
// ===
body {
    text-rendering: optimizeLegibility;
}

// ===
// Common: Standardizes typography
// ===
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

// ===
// Common: Standardizes line height.
// ===
body {
    line-height: 1.4;
}

// ===
// Hyperlink: Remove the bottom line.
// ===
a {
  text-decoration: none;
}

// ===
// Pictures: Gives 100% width to fit containers
// ===
img, picture {
    width: 100%;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td, th {
  padding: 6px;
}

table, th, td {
  border: 1px solid black;
}

// ===
// Firefox: not display the ugly dotted focus outlines on links
// ===
button::-moz-focus-inner {
    border: 0;
}

a:focus, button:focus, input:focus { 
    outline: none; 
}

a,
button,
input[type='submit'],
input[type='button'],
input[type='checkbox'] {
  cursor: pointer;
}

// ===
// iOS: remove zoom double tap
// ===
button {
    touch-action: manipulation;
}
